<!DOCTYPE html>
<html>
<head>
  <title>Blindbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Blind Book", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li>
    		<% if user_signed_in? %>
    			<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    		<% else %>
    			<%= link_to "Log In", new_user_session_path %>
    		<% end %>
    	</li>
    </ul>
  </div>
</nav>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
